{% include 'pagerMacros.html' %}
{# use renderBlogPosts to show all pieces as full posts on a page #}

{% macro renderBlogPosts(pieces) %}
  {% if pieces %}
    {% for piece in pieces %}
      {{ renderBlogPost(piece, { edit: false }) }}
    {% endfor %}
  {% else %}
    <h4>{{ __('There are no blog posts yet.') }}</h4>
  {% endif %}
{% endmacro %}

{% macro renderBlogPost(piece, options = {}) %}
  <div class="apos-blog-post">
    <div class="apos-blog-post-heading">
      <h4><a href="{{ piece.url }}">{{ piece.title | e }}</a></h4>
      <div class="blog-title-divider"></div>
      <h6>{{ piece.publishedAt | date("MMM DD, YYYY") }}</h6>
    </div>
    <div class="apos-blog-post-body">{{ aposArea(piece, 'body', { edit: options.edit }) }}</div>
    {% if piece.tags %}
      <div class="apos-blog-tags">
        {{ __('File under') }}: {{ piece.tags|join(', ') }}
      </div>
    {% endif %}
  </div>
{% endmacro %}

{# ...or use renderBlogPostPreviews to show previews of all pieces on a page (date and title) #}

{% macro renderBlogPostPreviews(pieces) %}
  {% if pieces %}
    {% for piece in pieces %}
      {{ renderBlogPostPreview(piece) }}
    {% endfor %}
  {% else %}
    <h4>{{ __('There are no blog posts yet.') }}</h4>
  {% endif %}
{% endmacro %}

{% macro renderBlogPostPreview(piece) %}
  <div class="apos-blog-post-preview">
    <div class="apos-blog-post">
      <div class="apos-blog-date">
       <h4><a href="{{ piece.url }}">{{ piece.publishedAt | date("MMM") }}</a></h4>
        <h3><a href="{{ piece.url }}">{{ piece.publishedAt | date("DD") }}</a></h4>
      </div>
      <div class="apos-blog-title">
        <h4><a href="{{ piece.url }}">{{ piece.title | e }}</a></h4>
      </div>
      {# TODO: add byline once the author field is worked out in A2 #}
    </div>
  </div>
{% endmacro %}
