{% extends "baseWidgetEditor.html" %}
{% include "formMacros.html" %}
{% block widgetVars %}
  {% set widgetClass = widgetEditorClass %}
{% endblock %}

{% block title %}
  {{ __('Display %s', pluralPieceLabel ) }}
{% endblock %}

{% block instructions %}
{{ __('You can select content to display by entering the titles of individual %s, %s, or tags.', pluralPieceLabel | lower, pluralIndexLabel | lower ) }}
{% endblock %}

{% block formBody %}

{# One of the fieldsets will have apos-active at any given time #}
{# The reset will be hidden #}

<label class="apos-by-label">
  Add By
  <select class="apos-by" name="by">
    <option value="fromPageIds">Blog</option>
    <option value="id">Title</option>
    <option value="tag">Tag</option>
  </select>
</label>

<fieldset class="apos-fieldset apos-fieldset-by" data-by="fromPageIds">
  <label>{{ __('By ' + indexLabel + ' name') }}</label>
  <p>If you do not specify at least one {{ indexLabel }}, {{ pluralPieceLabel }} from all {{ pluralIndexLabel }} are shown.</p>
  {{ formSelective('fromPageIds', pluralIndexLabel, { inline: true, placeholder: __('Type ' + indexLabel + ' names here') }) }}
  <div>
    {{ __('Max ' + pluralPieceLabel + ' Shown') }}: <input type="text" name="limitFromPageIds" />
  </div>
</fieldset>

<fieldset class="apos-fieldset apos-fieldset-by" data-by="id">
  <label>{{ __('By ' + pieceLabel + ' title') }}</label>
  {{ formSelective('ids', __('Title'), { inline: true, placeholder: __('Type ' + pieceLabel + ' titles here') }) }}
</fieldset>

<fieldset class="apos-fieldset apos-fieldset-by" data-by="tag">
  <label>{{ __('By tag') }}</label>
  {{ formTags('tags', 'Tags', { inline: true }) }}
  <div>
    {{ __('Max ' + pluralPieceLabel + ' Shown') }}: <input type="text" name="limitByTag" />
  </div>
</fieldset>

{% endblock %}

